body{
    color: black;
    background-image: linear-gradient(180deg,rgb(3, 133, 240), rgb(25, 153, 212), white);
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header{
    background-color: aliceblue;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
}
footer{
    text-align: center;
}
.imagem{ 
    text-align: center;
}
.botao{
    border-radius: 30px;
}